<div ng-app="mica" ng-strict-di="true" ng-controller="MainController" >
    <obiba-alert id="MainController"></obiba-alert>
    <div class="alert-growl-container">
        <obiba-alert id="MainControllerGrowl"></obiba-alert>
    </div>
    <div ng-controller="NotificationController"></div>
    <div ng-view="" ></div>
</div>